page-register {
  .login-content {
    background: white;

    .login-box {
      background: white;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
      -webkit-box-shadow:  0 3px 4px 0 rgba(0,0,0,0.19), 0 8px 17px 0 rgba(0,0,0,0.2);
      -moz-box-shadow:  0 3px 4px 0 rgba(0,0,0,0.19), 0 8px 17px 0 rgba(0,0,0,0.2);
      box-shadow: 0 3px 4px 0 rgba(0,0,0,0.19), 0 8px 17px 0 rgba(0,0,0,0.2);
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      background: #ff7c00;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }
  }
}